.ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: var(--space-s-xl) var(--space-s);
}

.ul :is(a, div) {
  overflow: hidden;
}

.ul a {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ul div {
  margin-bottom: var(--space-xs);
}

.ul img {
  aspect-ratio: 9/16;
}

/* 960px */
@media (min-width: 60em) {
  .ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
