:is(.article, .page) {
  margin: var(--space-s);
}

.article h1 {
  margin-bottom: var(--space-s);
}

.error {
  text-align: center;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  gap: var(--space-s);
  justify-content: center;
}

.page a[href]:hover {
  border-bottom: 2px solid var(--color-teal-6);
}

.page a[aria-disabled] {
  color: var(--color-teal-3);
  pointer-events: none;
  touch-action: none;
}

/* 640px */
@media (min-width: 40em) {
  :is(.article, .page) {
    margin: var(--space-l);
  }

  .page {
    gap: var(--space-m);
  }
}

/* 960px */
@media (min-width: 60em) {
  :is(.article, .page) {
    margin: var(--space-xl);
  }
}
