.article,
.page {
  margin: 6vw;
}

.error {
  text-align: center;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, auto));
  gap: 6vw;
  justify-content: center;
}

.page li:first-of-type a {
  pointer-events: none;
}

/* 1920px */
@media (min-width: 120em) {
  .article,
  .page {
    margin: 115px;
  }
}
