.article {
  margin: var(--space-s);
}

.article form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-s);
  margin: 0 auto;
}

.article :is([type="text"], [type="email"], textarea) {
  display: block;
  width: 100%;
  padding: 0.2rem 0.6rem;
  background-color: var(--color-teal-2);
  border: none;
  outline: transparent solid 4px;
}

.article :is([type="text"], [type="email"], textarea):focus {
  outline: var(--color-aquamarine-3) solid 4px;
}

.article button {
  padding: 0.4rem 1rem;
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

/* 640px */
@media (min-width: 40em) {
  .article {
    margin: var(--space-l);
  }

  .main {
    align-self: center;
  }

  .article form {
    max-width: 50%;
  }
}

/* 960px */
@media (min-width: 60em) {
  .article {
    margin: var(--space-xl);
  }
}
