.main {
  align-self: center;
}

.article {
  margin: var(--space-s);
}

.article form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-s);
  max-width: 40ch;
  margin: 0 auto;
}

.article :is(button, input, textarea) {
  padding: 0.6rem 1rem;
}

.article :is(input, textarea) {
  display: block;
  width: 100%;
  background-color: var(--color-teal-2);
  border: none;
}

.article :is(input, textarea):focus {
  outline: var(--color-aquamarine-3) solid 4px;
}

.article button {
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

/* 640px */
@media (min-width: 40em) {
  .article {
    margin: var(--space-l);
  }
}

/* 960px */
@media (min-width: 60em) {
  .article {
    margin: var(--space-xl);
  }
}
