.footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: var(--space-m-xl);
  color: var(--color-teal-1);
  background-color: var(--color-teal-6);
}

.footer p {
  text-align: center;
}
