.main {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-l);
}

.div {
  margin: 0 var(--space-s);
}

.div p {
  font-size: var(--h5);
  text-align: center;
}

.article {
  margin: 0 var(--space-s) var(--space-l) var(--space-s);
}

.article h2 {
  margin-bottom: var(--space-s);
}

.link {
  margin-top: var(--space-l);
  text-align: center;
}

.link a:hover {
  border-bottom: 2px solid var(--color-teal-6);
}

.error {
  text-align: center;
}

/* 640px */
@media (min-width: 40em) {
  .div {
    margin: 0 var(--space-l);
  }

  .article {
    margin: 0 var(--space-l) var(--space-l) var(--space-l);
  }
}

/* 960px */
@media (min-width: 60em) {
  .main {
    gap: var(--space-xl);
  }

  .div {
    margin: 0 var(--space-xl);
  }

  .div p {
    max-width: 50%;
    margin-left: auto;
    text-align: right;
  }

  .article {
    margin: 0 var(--space-xl) var(--space-xl) var(--space-xl);
  }
}
