.header {
  position: relative;
  box-shadow: var(--shadow);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: var(--space-s);
}

.nav button {
  padding: 0.2rem;
}

.mobile {
  position: absolute;
  top: 100%;
  left: 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--space-l);
  padding: var(--space-l);
  background-color: var(--color-teal-1);
  box-shadow: var(--shadow);
}

.mobile li {
  border-bottom: 2px solid var(--color-teal-6);
}

.desktop {
  display: none;
}

/* 640px */
@media (min-width: 40em) {
  .nav {
    margin: var(--space-s) var(--space-l);
  }
}

/* 960px */
@media (min-width: 60em) {
  .nav {
    margin: var(--space-s) var(--space-xl);
  }

  .nav button[aria-haspopup] {
    display: none;
  }

  .desktop {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--space-m);
    justify-content: start;
  }

  .desktop li {
    border: none;
  }

  .desktop a:hover {
    border-bottom: 2px solid var(--color-teal-6);
  }
}
