.nav {
  margin: 6vw;
}

.mobile {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 6vw;
}

.mobile li {
  border-bottom: 2px solid var(--color-teal-6);
}

.open {
  margin-bottom: 6vw;
}

.desktop {
  display: none;
}

/* 640px */
@media (min-width: 40em) {
  .nav {
    margin: 2vw 6vw;
  }
}

/* 960px */
@media (min-width: 60em) {
  .nav button {
    display: none;
  }

  .desktop {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2vw;
    justify-content: start;
  }

  .desktop li {
    border: none;
  }

  .desktop a:hover {
    border-bottom: 2px solid var(--color-teal-6);
  }
}

/* 1920px */
@media (min-width: 120em) {
  .nav {
    margin: 38px 115px;
  }

  .desktop {
    gap: 38px;
  }
}
